.tag-category{
    color: $white;
    background-color: $grey-m;
    border-radius: 100px;
    padding: 5px 15px;
   
}

// Input
.input-searchWrapper{
    color: $white;
    @include mobile(){
        display: flex;
        align-items: center;
        margin: 10px auto 0 auto;
    }
}
.input-search{
    margin: 0 auto;
    min-width: 300px;
    color: $white;
    font-size: 20px;
    background-color: transparent;
    border-width: 0;
    border-bottom: 1px solid $white;
    margin-left: -25px;
    padding: 5px 0 5px 30px;
    &::placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,0.50);
    }
    @include mobile(){
        margin: 0 auto 0 -25px;
    }
}

// utilities
.main-color{
    color: $purple;
}